:root {
    --primary-color: #414D6D;
    --secondary-color: rgb(249, 244, 244);
}

body {
    background-color: rgb(249, 244, 244);
}

.calendar-wrapper {
    background-color: var(--primary-color);
    color: white;
    width: 76%;
    margin: auto;
}

.calendar-wrapper h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.calendar-header  h2, button {
    border: 1px solid;
    margin: 0.4%;
    padding-top: 3px;
}

.calendar-header  h2 {
    width: 20%;
}

.calendar-header button {
    width: 4%;
}

.btn-prev, .btn-next {
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    color: var(--primary-color);
}

.btn-prev:hover, .btn-next:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color:var(--secondary-color);
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-cell {
    border: 1px solid var(--secondary-color);
    text-align: center;
    padding: 36px;
}

.day-cell:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}