:root {
    --primary-color: rgb(249, 244, 244);
    --secondary-color:#414D6D; 
}

body {
    background-color: rgb(249, 244, 244);
}

.calendar-wrapper {
    background-color: var(--primary-color);
    color:  var(--secondary-color);
    width: 76%;
    margin: auto;
    margin-top: 2%;
}

.calendar-wrapper h1, h3 {
    text-align: center;
    text-transform: uppercase;
}

.calendar-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.calendar-header  h3, button {
    border: 1px solid;
    padding-top: 2px;
}

.calendar-header  .title-month {
    width: 126px;
}

.calendar-header  .title-year {
    width: 90px;
}

.calendar-header button {
    width: 30px;
}

.btn-prev, .btn-next {
    border: 1px solid var(--secondary-color);
    padding: 4px 10px;
    cursor: pointer;
    color:  var(--secondary-color);
}

.btn-next {
    margin-right: 0.2%;
}

.btn-prev:hover, .btn-next:hover {
    background-color:  var(--secondary-color);
    color:var(--primary-color);
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-cell {
    border: 1px solid var(--secondary-color);
    text-align: center;
    padding: 42px;
}

.day-cell:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}